<?xml version="1.0" encoding="UTF-8" ?>

  <project name="config">

    <!-- ============================================  -->
    <!-- Configuration. -->
    <!-- ============================================  -->

    <target name="-config" hidden="true">

      <!-- Property values. -->

      <property file="${project.basedir}/.build.props" />

      <!-- WordPress theme/plugin detection. -->

      <if>
        <or>
          <isset property="project_wp_required_version" />
          <isset property="project_wp_tested_up_to_version" />
        </or>
        <then>
          <property name="_is_wp_theme_plugin" value="true" />
        </then>
        <else>
          <property name="_is_wp_theme_plugin" value="false" />
        </else>
      </if>

      <!-- WordPress WP Sharks Core theme/plugin detection. -->

      <if>
        <and>
          <istrue value="${_is_wp_theme_plugin}" />
          <or>
            <isset property="project_wp_sharks_core_required_version" />
            <isset property="project_wp_sharks_core_tested_up_to_version" />
            <isset property="project_wp_sharks_core_max_compatible_version" />
          </or>
        </and>
        <then>
          <property name="_is_wp_sharks_core_theme_plugin" value="true" />
        </then>
        <else>
          <property name="_is_wp_sharks_core_theme_plugin" value="false" />
        </else>
      </if>

      <!-- Lite detection; i.e., is applicable? -->

      <if>
        <and>
          <not>
            <isset property="is_lite_build" />
          </not>
          <or>
            <isset property="project_lite_title" />
            <isset property="project_lite_slug" />

            <isset property="project_lite_namespace" />
            <isset property="project_lite_sub_namespace" />

            <isset property="project_lite_other_phar_fileset_exclusions" />
            <isset property="project_lite_other_zip_tgz_fileset_exclusions" />

            <isset property="project_lite_text_domain_regex_replacement_pattern" />
            <isset property="project_lite_alter_namespace_in_other_files_pattern" />
          </or>
        </and>
        <then>
          <property name="_has_lite_build_props" value="true" />
        </then>
        <else>
          <property name="_has_lite_build_props" value="false" />
        </else>
      </if>

      <!-- Make sure optional properties are defined. -->

      <if>
        <not>
          <isset property="project_other_phar_fileset_exclusions" />
        </not>
        <then>
          <property name="project_other_phar_fileset_exclusions" value="" />
        </then>
      </if>
      <if>
        <not>
          <isset property="project_other_zip_tgz_fileset_exclusions" />
        </not>
        <then>
          <property name="project_other_zip_tgz_fileset_exclusions" value="" />
        </then>
      </if>

      <if>
        <and>
          <not>
            <isset property="is_lite_build" />
          </not>
          <istrue value="${_has_lite_build_props}" />
        </and>
        <then>
          <if>
            <not>
              <isset property="project_lite_other_phar_fileset_exclusions" />
            </not>
            <then>
              <property name="project_lite_other_phar_fileset_exclusions" value="" />
            </then>
          </if>
          <if>
            <not>
              <isset property="project_lite_other_zip_tgz_fileset_exclusions" />
            </not>
            <then>
              <property name="project_lite_other_zip_tgz_fileset_exclusions" value="" />
            </then>
          </if>
          <if>
            <not>
              <isset property="project_lite_text_domain_regex_replacement_pattern" />
            </not>
            <then>
              <property name="project_lite_text_domain_regex_replacement_pattern" value="" />
            </then>
          </if>
          <if>
            <not>
              <isset property="project_lite_alter_namespace_in_other_files_pattern" />
            </not>
            <then>
              <property name="project_lite_alter_namespace_in_other_files_pattern" value="" />
            </then>
          </if>
        </then>
      </if>

      <if>
        <and>
          <istrue value="${_is_wp_theme_plugin}" />
          <istrue value="${_is_wp_sharks_core_theme_plugin}" />
        </and>
        <then>
          <if>
            <not>
              <isset property="project_wp_sharks_core_max_compatible_version" />
            </not>
            <then>
              <property name="project_wp_sharks_core_max_compatible_version" value="" />
            </then>
          </if>
        </then>
      </if>

      <!-- Properties derived from other properties. -->

      <if>
        <and>
          <isset property="project_slug" />
        </and>
        <then>
          <php expression="preg_replace('/\-(?:lite|pro)$/ui', '', '${project_slug}')" returnproperty="_project_text_domain" />
        </then>
        <else>
          <property name="_project_text_domain" value="" />
        </else>
      </if>

      <tstamp><format property="_time_ymd" pattern="%y%m%d" /></tstamp>

      <!-- Property replacement codes. -->

      <php expression="str_replace('%y%m%d', date('ymd'), '${project_version}')" returnproperty="project_version" />

      <!-- Codex ignore list. -->

      <property name="_codex_ignore" value="*/assets/*,*/phings/*,*/tests/*,*/vendor/*" />

      <!-- Fileset reference for PHAR files. -->

      <fileset id="_phar_fileset" dir="${project.basedir}" casesensitive="false" excludes="${project_other_phar_fileset_exclusions}">
        <exclude name="phar-stub.php" />
        <exclude name="**/phar-stub.php" />

        <exclude name=".~**" />
        <exclude name="**/.~**" />

        <exclude name="assets/**" />
        <exclude name="**/assets/**" />

        <exclude name="phings/**" />
        <exclude name="**/phings/**" />

        <exclude name="tests/**" />
        <exclude name="**/tests/**" />

        <exclude name="vendor/bin/**" />
        <exclude name="**/vendor/bin/**" />

        <exclude name="vendor/package/bourbon/**" />
        <exclude name="**/vendor/package/bourbon/**" />

        <exclude name=".sass-cache/**" />
        <exclude name="**/.sass-cache/**" />

        <exclude name="**.scss" />
        <exclude name="**/**.scss" />

        <exclude name="**.css.map" />
        <exclude name="**/**.css.map" />

        <exclude name=".ht**" />
        <exclude name="**/.ht**" />

        <exclude name=".git**" />
        <exclude name="**/.git**" />

        <exclude name=".idea/**" />
        <exclude name="**/.idea/**" />

        <exclude name=".tags" />
        <exclude name="**/.tags" />

        <exclude name=".post-receive" />
        <exclude name="**/.post-receive" />

        <exclude name=".drone.yml" />
        <exclude name="**/.drone.yml" />

        <exclude name=".drone.sec" />
        <exclude name="**/.drone.sec" />

        <exclude name=".travis.yml" />
        <exclude name="**/.travis.yml" />

        <exclude name=".travis.bash" />
        <exclude name="**/.travis.bash" />

        <exclude name=".coveralls.yml" />
        <exclude name="**/.coveralls.yml" />

        <exclude name=".scrutinizer.yml" />
        <exclude name="**/.scrutinizer.yml" />

        <exclude name=".build.props" />
        <exclude name="**/.build.props" />

        <exclude name="build-*.xml" />
        <exclude name="**/build-*.xml" />

        <exclude name="build.xml" />
        <exclude name="**/build.xml" />

        <exclude name="composer.json" />
        <exclude name="**/composer.json" />

        <exclude name="composer.lock" />
        <exclude name="**/composer.lock" />

        <exclude name="LICENSE.txt" />
        <exclude name="**/LICENSE.txt" />

        <exclude name="LICENSE.md" />
        <exclude name="**/LICENSE.md" />

        <exclude name="README.txt" />
        <exclude name="**/README.txt" />

        <exclude name="README.md" />
        <exclude name="**/README.md" />

        <exclude name="CHANGELOG.txt" />
        <exclude name="**/CHANGELOG.txt" />

        <exclude name="CHANGELOG.md" />
        <exclude name="**/CHANGELOG.md" />

        <exclude name="AUTHORS.txt" />
        <exclude name="**/AUTHORS.txt" />

        <exclude name="AUTHORS.md" />
        <exclude name="**/AUTHORS.md" />

        <exclude name="CONTRIBUTORS.txt" />
        <exclude name="**/CONTRIBUTORS.txt" />

        <exclude name="CONTRIBUTORS.md" />
        <exclude name="**/CONTRIBUTORS.md" />
      </fileset>

      <!-- Fileset reference for ZIP/TGZ files. -->

      <fileset id="_zip_tgz_fileset" dir="${project.basedir}" casesensitive="false" excludes="${project_other_zip_tgz_fileset_exclusions}">
        <exclude name="phar-stub.php" />
        <exclude name="**/phar-stub.php" />

        <exclude name=".~**" />
        <exclude name="**/.~**" />

        <exclude name="assets/**" />
        <exclude name="**/assets/**" />

        <exclude name="phings/**" />
        <exclude name="**/phings/**" />

        <exclude name="tests/**" />
        <exclude name="**/tests/**" />

        <exclude name="vendor/bin/**" />
        <exclude name="**/vendor/bin/**" />

        <exclude name="vendor/package/bourbon/**" />
        <exclude name="**/vendor/package/bourbon/**" />

        <exclude name=".sass-cache/**" />
        <exclude name="**/.sass-cache/**" />

        <exclude name="**.scss" />
        <exclude name="**/**.scss" />

        <exclude name="**.css.map" />
        <exclude name="**/**.css.map" />

        <exclude name=".ht**" />
        <exclude name="**/.ht**" />

        <exclude name=".git**" />
        <exclude name="**/.git**" />

        <exclude name=".idea/**" />
        <exclude name="**/.idea/**" />

        <exclude name=".tags" />
        <exclude name="**/.tags" />

        <exclude name=".post-receive" />
        <exclude name="**/.post-receive" />

        <exclude name=".drone.yml" />
        <exclude name="**/.drone.yml" />

        <exclude name=".drone.sec" />
        <exclude name="**/.drone.sec" />

        <exclude name=".travis.yml" />
        <exclude name="**/.travis.yml" />

        <exclude name=".travis.bash" />
        <exclude name="**/.travis.bash" />

        <exclude name=".coveralls.yml" />
        <exclude name="**/.coveralls.yml" />

        <exclude name=".scrutinizer.yml" />
        <exclude name="**/.scrutinizer.yml" />

        <exclude name=".build.props" />
        <exclude name="**/.build.props" />

        <exclude name="build-*.xml" />
        <exclude name="**/build-*.xml" />

        <exclude name="build.xml" />
        <exclude name="**/build.xml" />

        <exclude name="composer.json" />
        <exclude name="**/composer.json" />

        <exclude name="composer.lock" />
        <exclude name="**/composer.lock" />
      </fileset>

      <!-- Text-based pattern set in which search/replace is possible. -->

      <patternset id="_text_based_patternset">
        <exclude pattern="src/vendor/**" />

        <include pattern="*.x-php" />
        <include pattern="**/**.x-php" />

        <include pattern="*.php" />
        <include pattern="**/**.php" />

        <include pattern="*.html" />
        <include pattern="**/**.html" />

        <include pattern="*.xml" />
        <include pattern="**/**.xml" />

        <include pattern="*.css" />
        <include pattern="**/**.css" />

        <include pattern="*.scss" />
        <include pattern="**/**.scss" />

        <include pattern="*.js" />
        <include pattern="**/**.js" />

        <include pattern="*.json" />
        <include pattern="**/**.json" />

        <include pattern="*.yml" />
        <include pattern="**/**.yml" />

        <include pattern="*.bash" />
        <include pattern="**/**.bash" />

        <include pattern="*.txt" />
        <include pattern="**/**.txt" />

        <include pattern="*.md" />
        <include pattern="**/**.md" />
      </patternset>

    </target>

  </project>
